<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Brauhaus</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Brauhaus</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/gaststaette">Gaststätte</a></li>
        <li><a href="/veranstaltungen">Veranstaltungen</a></li>
        <li><a href="/stammtische">Stammtische</a></li>
        <li><a href="/mediathek">Mediathek</a></li>
        <li><a href="/shop">Shop</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/gaststaette">Gaststätte</a></li>
        <li><a href="/veranstaltungen">Veranstaltungen</a></li>
        <li><a href="/stammtische">Stammtische</a></li>
        <li><a href="/mediathek">Mediathek</a></li>
        <li><a href="/shop">Shop</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">... das bessere Bier!</h1>
        <div class="row center">
          <h5 class="header col s12 light">„Man sollte nicht an ‚frei‘ wie in ‚Freibier‘ denken; sondern an ‚frei‘ wie in ‚freie
Rede‘. “ - RMS</h5>
        </div>
        <div class="row center">
          <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">AKTUELLE VERANSTALTUNGEN</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/static/img/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">restaurant_menu</i></h2>
            <h5>Unsere Speisekarte:</h5>

            <p class="light">Bacon ipsum dolor sit amet salami ham hock ham, hamburger corned beef short ribs kielbasa biltong t-bone drumstick tri-tip tail sirloin pork chop. Kielbasa turducken turkey cow shoulder pig prosciutto hamburger corned beef short loin, meatloaf tri-tip drumstick. Shankle sirloin ground round fatback, cow pancetta boudin t-bone pig.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5>Wir auf You Tube:</h5>

            <p class="light">Chuck ipsum. Multiple people have died from Chuck Norris giving them the finger. Chuck Norris doesn’t need to swallow when eating food. Crop circles are Chuck Norris' way of telling the world that sometimes corn needs to lie the f*ck down. Chuck Norris ordered a Big Mac at Burger King, and got one.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">youtube_searched_for</i></h2>
            <h5>Die Presse über uns:</h5>

            <p class="light">Disrupt jean shorts viral hella meh, plaid cupidatat magna art party. Echo Park adipisicing literally narwhal. Williamsburg leggings church-key, craft beer forage cornhole jean shorts blue bottle pariatur. Officia sapiente bespoke, locavore plaid cray voluptate deep v ex vinyl tote bag chillwave swag occaecat.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"> „Hier bin ich Mensch, hier darf ich's sein.“ </h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../static/img/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>- Unsere Stammtische -</h4>
          <p class="left-align light">Lebowski ipsum walter, come off it. You're not even fucking Jewish. You're fucking Polish Catholic. Dolor sit amet, consectetur adipiscing elit praesent ac magna justo pellentesque ac. Every time a rug is micturated upon in this fair city, I have to compensate. Lectus quis elit blandit fringilla a ut turpis praesent felis ligula, malesuada. You know, the usual. Bowl. Drive around. Lebowski ipsum walter, come off it. You're not even fucking Jewish. You're fucking Polish Catholic. Dolor sit amet, consectetur adipiscing elit praesent ac magna justo pellentesque ac. Every time a rug is micturated upon in this fair city, I have to compensate. Lectus quis elit blandit fringilla a ut turpis praesent felis ligula, malesuada. You know, the usual. Bowl. Drive around.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">„Der Mentsch Tracht un Gott Lacht!“</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/img/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">


        <div class="col l6 s12">
          <h5 class="white-text">Brauhaus</h5>
          <ul>
            <li><a class="white-text" href="#!">• Unsere historische Brauerei vor Ort zum virtuellen Besuch ...</a></li>
            <li><a class="white-text" href="#!">• Unser mobiles Festzelt für Sie hier und dort unterwegs ...</a></li>
            <li><a class="white-text" href="#!">• Der OnlineShop: Alle Brauhausartikel für Sie daheim ...</a></li>
            <li><a class="white-text" href="#!">• Das Brauhaus Hotel mit drei Sternen für Komfort ...</a></li>
          </ul>



        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Partner</h5>
          <ul>
            <li><a class="white-text" href="#!">• Aktuelle Kampagnen</a></li>
            <li><a class="white-text" href="#!">• Aktuelle Downloads</a></li>
            <li><a class="white-text" href="#!">• Brauhaus Franchise</a></li>
            <li><a class="white-text" href="#!">• Unser Newsletter</a></li>
          </ul>
        </div>

        <div class="col l3 s12">
          <h5 class="white-text">Kontakt</h5>
          <ul>
            <li><a class="white-text" href="#!">• Datenschutz</a></li>
            <li><a class="white-text" href="#!">• Impressum</a></li>
            <li><a class="white-text" href="#!">• Sitemap</a></li>
            <li><a class="white-text" href="#!">• Kontakt</a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://brauhaus.de">Brauhaus</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/js/materialize.js"></script>
  <script src="/static/js/init.js"></script>

  </body>
</html>
